*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    list-style: none;
    text-decoration: none;
}

header {
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1000;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 33px 9%;
    background: transparent;
}

.logo{
    font-size: 30px;
    font-weight: 700;
    color: white;
}

.navlist{
    display: flex;
}

.navlist a{
    color: white;
    margin-left: 60px;
    font-size: 15px;
    font-weight: 600;
    border-bottom: 2px solid transparent;
    transition: all .55s ease;
}

.navlist a:hover{
    border-bottom: 2px solid white;
}

#menu-icon{
    color: white;
    font-size: 35px;
    z-index: 10001;
    cursor: pointer;
    display: none;
}

body{
    background: url(bgkodok.jpg);
    display: flex;
}

.JOB{
    color: white;
    gap: 2rem;
    margin-top: 200px;
    display: block;
}

.JOB-text{
    align-items: center;
    font-size: 20px;
    line-height: 1.9;
    margin-bottom: 40px;
    position: relative;
    display: block;
    text-align: center;
    margin-left: 250px;
}

.JOB-img{
    display:flex;
    margin: auto;
    gap: 1px;
    max-width: 1224px;
    width: 400px;
    margin: 40px;
    padding: 40px 0;
    margin-left: 100px;
    margin-right: 100%;
}

.JOB-img img{
    width: 400px;
    height: auto;
    position: relative;
    margin-left: 20px;
    margin: 1px;
}

.JOB-text2{
    align-items: center;
    font-size: 20px;
    line-height: 1.9;
    margin-bottom: 40px;
    position: relative;
    display: block;
    text-align: center;
    margin-left: 250px;
}

.JOB-text2 a{
    display: inline-block;
    color: white;
    background: #4d9559;
    border: 1px solid transparent;
    padding: 12px 30px;
    line-height: 1.4;
    font-size: 14px;
    font-weight: 500;
    border-radius: 30px;
    text-transform: uppercase;
    transition: all .55s ease;
}

.JOB-text2 a:hover{
    background: transparent;
    border: 1px solid white;
    transform: translateX(8px);
}

.JOB-text2 a.Anm{
    background: transparent;
    border: 1px solid white;
    margin-left: 20px;
}

.JOB-text2 a.Anm i{
    vertical-align: middle;
    margin-right: 5px;
}

